body{
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

html{
    scroll-behavior: smooth;
}
/* Menu + logo --------------*/

.navbar {
    display:flex;
    align-items: center;
    font-size: 1.0em;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    width: 1450px;
}

.navbar .space {
    flex-grow: 1;
}

.navbar .logo{
    margin-left: 40px;
    margin-top: 30px;
    float: left;
}

.navbar a{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    font-weight: 400;
    list-style: none;
    margin-top: 45px;
}

.navbar-signup{
    font-weight: 600;
    font-size: 17px;
    color: #0065FC;
    float: right;
}

.navbar-activités{
    color: black;
}

.navbar-hébergements{
    color: black;
}

.navbar a {
    padding-right: 70px;
}

.navbar-item{
    border-top: 2px solid transparent;
    padding-top: 1em;
    text-decoration: none;
}

.signup{
    pointer-events: none;
}

.navbar-item:hover, .navbar-item:active{
    border-top-color: #0065FC;
    color: #0065FC;
}

/* Texte + barre de recherche ------*/

header {
    margin-left: 40px;
    padding-top: 20px;
}

header .container-text h1{
    font-size: 22px;
    font-weight: 600;
}

header .container-text p{
    font-size: 17px;
    font-weight: 200;
}

input{
    width: 150px;
    height: 50px;
    border: solid 2px #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.search {
    display: flex;
    padding: 30px 0 30px 0;
}

.search .btn.i {
    display: none;
}

.search .fa-map-marker-alt{
    padding: 16px 20px;
    border-radius: 20px 0 0 20px;
    background: #F2F2F2;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .text {
    border: 0;
    padding: 0.7em;
    border-top: 1px solid #F2F2F2;
    color: black;
    min-width: 10.5em;
    width: 12.0em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.search .btn {
    border: 0;
    background: #0065FC;
    color: white;
    padding: 15px 20px;
    border-radius: 0 20px 20px 0;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
  }


/* Filtres de recherche + texte -------*/

.filter{
    padding-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.filter-title{
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
}

.economy{
    display: flex;
    margin-left: 20px;

}
.economy p{
    border: solid #F2F2F2;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px 27px 27px 27px;
    padding: 0 20px 0 0;
    font-size: 15px;
    font-weight: 600;
}
.economy p:hover{
    background: #77a8f3;
    color: white;
}

.economy i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
}

.family {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.family p{
    border: solid #F2F2F2;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px 27px 27px 27px;
    padding: 0 20px 0 0;
    font-size: 15px;
    font-weight: 600;
}
.family p:hover{
    background: #77a8f3;
    color: white;
}

.family i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
}

.romance{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.romance p{
    border: solid #F2F2F2;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px 27px 27px 27px;
    padding: 0 20px 0 0;
    font-size: 15px;
    font-weight: 600;
}
.romance p:hover{
    background: #77a8f3;
    color: white;
}

.romance i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
}

.animals{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.animals p{
    border: solid #F2F2F2;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px 27px 27px 27px;
    padding: 0 20px 0 0;
    font-size: 15px;
    font-weight: 600;
}
.animals p:hover{
    background: #77a8f3;
    color: white;
}

.animals i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
}

.info i{
    color: #0065FC;
    border: solid #F2F2F2;
    width: 25px;
    height: 25px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* Partie hébergements ------*/

.accommodation{
    display: flex;
    flex-direction: row;
}
.accommodation__cards{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.accommodation__cards-1{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.accommodation__card{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 256px;
    height: 240px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
}
.accommodation__title{
    background-color: #F2F2F2;
    height: 720px;
    border-radius: 15px 15px 15px 15px;
    margin: 0 20px 0 30px;
    padding: 20px 20px 0 20px;
}
.accommodation__title h2{
    margin-bottom: 0;
    padding-left: 10px;
}
.card__image img {
    border: solid white;
    width: 250px;
    height: 140px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card__image:hover img {
	opacity: .5;
}
.card__text {
    display: flex;
    flex-direction: column;
}

.card__title{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}

.card__subtitle{
    font-size: 15px;
    font-weight: 200;
    padding-left: 8px;
    margin-top: -7px;
}

.accommodation__stars {
    padding-left: 10px;
    margin-top: -8px;
}
.accommodation__stars .star-style{
    color: #0065FC;
}
.accommodation__stars .star-style-1{
    color: #F2F2F2;
}

.afficher {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 18px;
}

/* Partie populaires -------*/

.popular{
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    width: 420px;
    margin: 0 20px 0 30px;
    padding: 20px 20px 0 20px;
}
.popular h2{
    margin-bottom: 0;
    padding-left: 10px;
}
.popular .fa-chart-line{
    padding-left: 110px;
}
.popular__card {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 350px;
    height: 155px;
    margin: 20px 0 0 20px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    display: flex;
    flex-direction: row;
}
.popular__card-image img{
    border: solid white;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.popular__card-image:hover img {
	opacity: .5;
}
.populaire p i{
    margin-left: 90px;
}
.popular__card-title{
    font-size: 15px;
    font-weight: 600;
    padding: 20px 5px 0 5px;
    margin: 0;
}
.popular__card-subtitle{
    font-size: 15px;
    font-weight: 200;
    padding: 10px 5px 0 5px;
}
.popular__stars{
    padding: 10px 5px 0 5px;
}
.popular__stars .star-style{
    color: #0065FC;
}
.popular__stars .star-style-1{
    color: #F2F2F2;
}

/* Partie activités ------*/

.activités{
    border-radius: 15px 15px 15px 15px;
    margin-right: 10px;
    width: 420px;
    margin-left: 30px;
    margin-top: 20px;
}

.activities__cards{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    margin-top: 30px;
}

.activities__card{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 330px;
    height: 455px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
}

.activities__card-image img{
    width: 330px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.activities__card-image:hover img {
	opacity: .5;
}

.activities__card-text p{
    font-size: 15px;
    font-weight: 600;
    padding-left: 20px
}

.activities__smallcards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

.activities__smallcard{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 225px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
}

.activities__smallcard-image img{
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.activities__smallcard-image:hover img {
	opacity: .5;
}

.activities__smallcard-1 {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 170px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    margin-top: 50px;
}

.activities__smallcard-image-1 img{
    width: 300px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.activities__smallcard-image-1:hover img {
	opacity: .5;
}
/* Footer --------------*/

.page-end{
    display: flex;
    flex-direction: row;
    background:#F2F2F2;
    padding: 30px 0 0 40px;
    height: 250px;
}

.page-end .hbg{
    padding-left: 170px;
}

.page-end .assistance{
    padding-left: 250px;
}



/* Media queries -------------*/

@media screen and (min-width: 375px) and (max-width: 700px)
{
    body{
        width: 200vh;
    }

    .logo{
        width: 400px;
        height: 200px;
    }

    .navbar{
        display: grid;
        padding-left: 50px;
    }

    .navbar a{
       font-size: 11vh;
    }

    .navbar-item{
        border-bottom: 2px solid transparent;
        padding-bottom: 1em;
    }

    .navbar-item:hover, .navbar-item:active{
        border-bottom-color: #0065FC;
        border-top: none;
    }

    .navbar-hébergements{
        grid-column: 1;
        grid-row: 2;
        margin-left: 50px;
    }

    .navbar-activités{
        grid-column: 2;
        grid-row: 2;
    }

    .navbar-signup{
        grid-column: 2;
        grid-row: 1;
        padding-left: 80px;
    }
    .navbar .navbar-hébergements{
        padding-left: 30px;
    }

    .navbar a:active {
        color: #0065FC;
        border-bottom: solid 4px #0065FC;
        padding-bottom: 30px;
        border-top: none;
    }

    header{
        padding-left: 50px;
    }


    header .container-text h1{
        font-size: 13vh;
        padding-right: 100px;
    }

    header .container-text p{
        font-size: 10vh;
    }

    .search{
        margin-top: 50px;
    }

    .search .btn.i {
        display: block;
        font-size: 8vh;
        width: 150px;
        border-radius: 40px 40px 40px 40px;
    }

    .search .fa-map-marker-alt{
        font-size: 8vh;
        width: 130px;
        border-radius: 40px 0px 0px 40px;
    }

    .search .btn {
        display: none;
    }

    input{
        width: 870px;
        height: 170px;
        font-size: 10vh;
        border: solid 5px #F2F2F2;
        border-right: none;
        padding-left: 30px;
    }

    .filter{
        display: grid;
        margin: 40px 0px 0 80px;
    }

    .filter-title {
        font-size: 10vh;
        margin: 0;
    }

    .economy{
        grid-column: 1;
    }
    .economy p{
        font-size: 10vh;
        height: 180px;
        width: 630px;
        border: solid 8px #F2F2F2;
        border-radius: 80px 80px 80px 80px;
        border-left: none;
        padding-right: 50px;
    }
    .economy i{
        width: 190px;
        height: 180px;
        font-size: 9vh;
        margin-right: 50px;
        border-radius: 90px 90px 90px 90px;
    }

    .family{
        grid-column: 2;
        margin-left: -100px;
    }
    .family p{
        font-size: 10vh;
        height: 180px;
        width: 480px;
        border: solid 8px #F2F2F2;
        border-radius: 90px 90px 90px 90px;
        border-left: none;
        padding-right: 50px;
    }
    .family i{
        width: 180px;
        height: 180px;
        font-size: 9vh;
        margin-right: 50px;
        border-radius: 100px 100px 100px 100px;
    }

    .romance p{
        font-size: 10vh;
        height: 180px;
        width: 630px;
        border: solid 8px #F2F2F2;
        border-radius: 80px 80px 80px 80px;
        border-left: none;
        padding-right: 50px;
    }
    .romance i{
        width: 190px;
        height: 180px;
        font-size: 9vh;
        margin-right: 50px;
        border-radius: 90px 90px 90px 90px;
    }

    .animals{
        grid-column: 1;
    }
    .animals p{
        font-size: 10vh;
        height: 180px;
        width: 818px;
        border: solid 8px #F2F2F2;
        border-radius: 80px 80px 80px 80px;
        border-left: none;
        padding-right: 50px;
    }
    .animals i{
        width: 180px;
        height: 180px;
        font-size: 9vh;
        margin-right: 50px;
        border-radius: 90px 90px 90px 90px;
    }

    .info{
       padding: 0 0 0 50px;
       margin: 0;
    }
    .info i{
        font-size: 6vh;
        border-radius: 90px 90px 90px 90px;
        border: solid 6px #F2F2F2;
        width: 80px;
        height: 70px;
        margin-right: 40px;
        margin-bottom: 60px;
    }
    .info p{
        font-size: 9vh;
    }

    .popular{
        background-color: #F2F2F2;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        flex-direction: column;
        width: 1430px;
        height: 2000px;
        margin: 0;
        padding-left: 40px;
    }
    .popular h2{
        font-size: 11vh;
        padding-left: 40px;
    }
    .popular .fa-chart-line{
        margin-left: 400px;
    }
    .popular__cards{
        padding-top: 40px;
    }
    .popular__card{
        border-radius: 70px 70px 70px 70px;
        width: 1200px;
        height: 500px;
        margin-left: 60px;
        margin-top: 50px;
    }

    .popular__card-image img{
        width: 400px;
        height: 480px;
        border-radius: 70px 0 0 70px;
        padding: 7px 0 7px 7px;
    }

    .popular__card-title{
        font-size: 9vh;
        padding-left: 50px;
        padding-right: 70px;
        padding-top: 60px;
    }

    .popular__card-subtitle{
        font-size: 8vh;
        padding-left: 50px;
        padding-top: 30px;
        margin: 0;
    }

    .popular__stars {
        padding-left: 50px;
        padding-top: 90px;
    }

    .popular__stars i{
        font-size: 7vh;
    }



    .accommodation{
        display: flex;
        flex-direction: column-reverse;
    }

    .accommodation__title{
        background-color: white;
        padding-left: 40px;
    }

    .accommodation__title h2{
        font-size: 11vh;
        margin-bottom: 0;
    }

    .accommodation__cards{
        display: flex;
        flex-direction: column;
    }
    .accommodation__cards-1{
        display: flex;
        flex-direction: column;
    }

    .accommodation__card{
        border-radius: 70px 70px 70px 70px;
        width: 1200px;
        height: 700px;
        margin-top: 30px;
    }

    .card__image img {
        width: 1180px;
        height: 400px;
        border-radius: 70px 70px 0 0;
        padding-left: 7px;
        padding-top: 7px;
        padding-right: 7px;
    }

    .card__title{
        font-size: 8vh;
        margin: 0;
        padding-top: 10px;
        padding-left: 50px;
    }

    .card__subtitle{
        font-size: 8vh;
        margin: 0;
        padding-left: 50px;
        padding-top: 20px;
    }

    .accommodation__stars {
        padding-left: 50px;
        padding-top: 35px;
        margin: 0;
    }

    .accommodation__stars i{
        font-size: 7vh;
    }

    .afficher {
        font-size: 9vh;
        margin: 0;
        padding-left: 50px;
        padding-top: 20px;
    }



    .activités{
        padding-top: 4000px;
        padding-left: 50px;
        width: 1430px;
    }

    .activités h2{
        font-size: 11vh;
        margin-bottom: 0;
    }

    .activities__cards{
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }
    .activities__card{
        border-radius: 70px 70px 70px 70px;
        width: 1200px;
        height: 540px;
        margin-top: 50px;
    }

    .activities__card-image img {
        width: 1200px;
        height: 400px;
        border-radius: 70px 70px 0 0;
    }

    .activities__card-text p{
        font-size: 7vh;
        padding: 30px 0 0 40px;
        margin: 0;
    }

    .activities__smallcards{
        margin: 0;
        padding-top: 40px;
    }
    .activities__smallcard{
        border-radius: 70px 70px 70px 70px;
        width: 1200px;
        height: 540px;
        margin: 0;
    }

    .activities__smallcard-image img{
        width: 1200px;
        height: 400px;
        border-radius: 70px 70px 0 0;
    }

    .activities__smallcard-1 {
        border-radius: 70px 70px 70px 70px;
        width: 1200px;
        height: 540px;
    }

    .activities__smallcard-image-1 img{
        width: 1200px;
        height: 400px;
        border-radius: 70px 70px 0 0;
    }

    .page-end{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;
        padding-left: 100px;
        margin-top: 200px;
        width: 1400px;
        height: 1700px;
    }

    .page-end .apropos{
        font-size: 9vh;
        padding: 0;
    }

    .page-end .hbg{
        font-size: 9vh;
        padding: 0;
    }

    .page-end .assistance{
        font-size: 9vh;
        padding: 0;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1200px)
{
    body{
        width: 1438px;
    }

    .popular{
        width: 400px;
    }

    .popular__card{
        width: 335px;
        height: 165px;
    }

    .popular__card-image img{
        width: 170px;
        height: 160px;
    }



    .activities__cards{
        width: 300px;
        height: 455px;
    }

    .activities__card-image img {
        width: 300px;
        height: 390px;
    }


    .activities__smallcard{
        width: 300px;
        height: 230px;
    }

    .activities__smallcard img{
        width: 300px;
        height: 180px;
    }


    .activities__smallcard-1 {
        width: 300px;
        height: 180px;
    }

    .activities__smallcard-image-1 img{
        width: 300px;
        height: 135px;
    }
}
