body{
    font-family: 'Raleway', sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

html{
    scroll-behavior: smooth;
}
/* Menu + logo --------------*/

.navbar {
    display:flex;
    align-items: center;
    font-size: 1.0em;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    width: 1450px;
}

.navbar .space {
    flex-grow: 1;
}

.navbar .logo{
    margin-left: 40px;
    margin-top: 30px;
    float: left;
}

.navbar a{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    font-weight: 400;
    list-style: none;
    margin-top: 45px;
}

.navbar-signup{
    font-weight: 600;
    font-size: 17px;
    color: #0065FC;
    float: right;
}

.navbar-activités{
    color: black;
}

.navbar-hébergements{
    color: black;
}

.navbar a {
    padding-right: 70px;
}

.navbar-item{
    border-top: 2px solid transparent;
    padding-top: 1em;
    text-decoration: none;
}

.navbar-item:hover, .navbar-item:active{
    border-top-color: #0065FC;
    color: #0065FC;
}

/* Texte + barre de recherche ------*/

.container {
    margin-left: 40px;
    padding-top: 20px;
}

.container .container-text p{
    font-size: 22px;
    font-weight: 600;
}

.container .container-text span {
    font-size: 17px;
    font-weight: 200;
}

input{
    width: 150px;
    height: 50px;
    border: solid 2px #F2F2F2;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.search {
    display: flex;
    padding: 30px 0 30px 0;
}

.search .btn.i {
    display: none;
}

.search .fa-map-marker-alt{
    padding: 16px 20px;
    border-radius: 20px 0 0 20px;
    background: #F2F2F2;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .text {
    border: 0;
    padding: 0.7em;
    border-top: 1px solid #F2F2F2;
    color: black;
    min-width: 10.5em;
    width: 12.0em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.search .btn {
    border: 0;
    background: #0065FC;
    color: white;
    padding: 15px 20px;
    border-radius: 0 20px 20px 0;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
  }


/* Filtres de recherche + texte -------*/

.filter{
    padding-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

.filter-title {
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
}

.filters {
    display: flex;
    flex-direction: row;
}

.economy{
    display: flex;
    margin-left: 20px;

}
.economy p{
    border: solid #F2F2F2;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px 27px 27px 27px;
    padding: 0 20px 0 0;
    font-size: 15px;
    font-weight: 600;
}

.economy i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
}

.family {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.family p{
    border: solid #F2F2F2;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px 27px 27px 27px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 600;
}

.family i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
}

.romance{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.romance p{
    border: solid #F2F2F2;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px 27px 27px 27px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 600;
}

.romance i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
}

.animals{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.animals p{
    border: solid #F2F2F2;
    border-left: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px 27px 27px 27px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 600;
}

.animals i{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #DEEBFF;
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
    margin-right: 10px;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
}

.info i{
    color: #0065FC;
    border: solid #F2F2F2;
    width: 25px;
    height: 25px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* Partie hébergements ------*/

.container2{
    display: flex;
    flex-direction: row;
}

.container2 h2{
    padding-left: 20px;
    padding-top: 30px;
}

.hebergement{
    background-color: #F2F2F2;
    height: 720px;
    border-radius: 15px 15px 15px 15px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-p1 img {
    border: solid white;
    width: 250px;
    height: 140px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card-p1:hover img {
	opacity: .5;
}

.cards1{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.cards2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 256px;
    height: 240px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
}

.card-p2 {
    display: flex;
    flex-direction: column;
}

.card-text{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}

.card-text1{
    font-size: 15px;
    font-weight: 200;
    padding-left: 10px;
    margin-top: -7px;
}

.star {
    padding-left: 10px;
    margin-top: -8px;
}
.star .star-style{
    color: #0065FC;
}
.star .star-style-1{
    color: #F2F2F2;
}

.afficher {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 18px;
}

/* Partie populaires -------*/

.populaire{
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-left: 50px;
}

.populaire h2 i{
    margin-left: 90px;
}

.populaire h2{
    padding-left: 27px;
}

.cards3{
    padding-top: 10px;
}

.card-first{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 350px;
    height: 155px;
    margin-left: 30px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    display: flex;
    flex-direction: row;
}

.card1 {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 350px;
    height: 155px;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    display: flex;
    flex-direction: row;

}

.card1-p1 img{
    border: solid white;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card1-p1:hover img {
	opacity: .5;
}

.card1-p2 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.card1-text{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
}

.card1-text2{
    font-size: 15px;
    font-weight: 200;
    padding-left: 10px;
    margin-top: -7px;
}

.star1 {
    padding-left: 10px;
    padding-top: 30px;
}
.star1 .star-style{
    color: #0065FC;
}
.star1 .star-style-1{
    color: #F2F2F2;
}

.star2 {
    padding-left: 10px;
    padding-top: 15px;
}
.star2 .star-style{
    color: #0065FC;
}
.star2 .star-style-1{
    color: #F2F2F2;
}

/* Partie activités ------*/

.activités{
    border-radius: 15px 15px 15px 15px;
    margin-right: 10px;
    width: 420px;
    margin-left: 30px;
    margin-top: 20px;
}

.cards-a{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    margin-top: 30px;
}

.carte-a{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 330px;
    height: 455px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
}

.carte-a1 img{
    width: 330px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.carte-a1:hover img {
	opacity: .5;
}

.carte-a-text{
    font-size: 15px;
    font-weight: 600;
    padding-left: 20px
}

.carte-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

.pomegues{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 225px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
}

.pomegues1 img{
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.pomegues1:hover img {
	opacity: .5;
}

.frioul {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 170px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    margin-top: 50px;
}

.frioul1 img{
    width: 300px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.frioul1:hover img {
	opacity: .5;
}

.notre-dame{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 225px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;

}

.notre-dame1 img{
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.notre-dame1:hover img {
	opacity: .5;
}

.parc{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 170px;
    box-shadow: 2px 2px 2px 2px #DCDCDC;
    margin-top: 50px;

}

.parc1 img{
    width: 300px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.parc1:hover img {
	opacity: .5;
}

/* Footer --------------*/

.page-end{
    display: flex;
    flex-direction: row;
    background:#F2F2F2;
    padding-left: 40px;
    padding-top: 30px;
    height: 250px;
}

.page-end .hbg{
    padding-left: 250px;
}

.page-end .assistance{
    padding-left: 250px;
}



/* Media queries -------------*/

@media screen and (min-width: 375px) and (max-width: 700px)
{
    body{
        width: 106vh;
    }

    .logo{
        width: 300px;
        height: 100px;
    }

    .navbar{
        display: grid;
        width: 880px;
        padding-left: 40px;
    }

    .navbar a{
       font-size: 5vh;
    }

    .navbar-item{
        border-bottom: 2px solid transparent;
        padding-bottom: 1em;
    }

    .navbar-item:hover, .navbar-item:active{
        border-bottom-color: #0065FC;
        border-top: none;
    }

    .navbar-hébergements{
        grid-column: 1;
        grid-row: 2;
        margin-left: 50px;
    }

    .navbar-activités{
        grid-column: 2;
        grid-row: 2;
    }

    .navbar-signup{
        grid-column: 2;
        grid-row: 1;
        font-size: 30px
    }


    .navbar a:active {
        color: #0065FC;
        border-bottom: solid 4px #0065FC;
        padding-bottom: 30px;
        border-top: none;
    }


    .container .container-text p{
        font-size: 15vw;
        margin-right: 90px;
        padding-left: 40px;
    }

    .container .container-text span{
        font-size: 10vw;
    }

    .search{
        padding-left: 40px;
    }


    .search .btn.i {
        display: block;
        font-size: 3em;
        width: 100px;
        border-radius: 20px 20px 20px 20px;
    }

    .search .fa-map-marker-alt{
        font-size: 3em;
        width: 90px;
    }

    .search .btn {
        display: none;
    }

    input{
        width: 500px;
        height: 115px;
        font-size: 10vw;
        padding-left: 40px;
        border-right: 0;
    }

    .filter{
        display: grid;
        padding-left: 40px;
    }

    .filter-title {
        font-size: 10vw;
    }

    .filters{
        display: grid;
    }

    .economy p{
        font-size: 10vw;
        height: 100px;
        width: 350px;
        border: solid 6px #F2F2F2;
        border-radius: 50px 50px 50px 50px;
        padding-right: 40px;
        border-left: none;
    }

    .economy i{
        width: 100px;
        height: 100px;
        font-size: 2.5rem;
        margin-right: 25px;
        border-radius: 50px 50px 50px 50px;
    }

    .family{
        grid-column: 2;
        font-size: 10vw;
        margin-left: -100px;
    }

    .family p{
        font-size: 10vw;
        height: 100px;
        width: 280px;
        border: solid 6px #F2F2F2;
        border-radius: 50px 50px 50px 50px;
        border-left: none;
        padding-right: 30px;
    }

    .family i{
        width: 100px;
        height: 100px;
        font-size: 2.5rem;
        margin-right: 30px;
        border-radius: 50px 50px 50px 50px;
    }

    .romance p{
        font-size: 10vw;
        height: 100px;
        width: 350px;
        border: solid 6px #F2F2F2;
        border-radius: 50px 50px 50px 50px;
        padding-right: 60px;
        border-left: none;
    }

    .romance i{
        width: 100px;
        height: 100px;
        font-size: 2.5rem;
        margin-right: 25px;
        border-radius: 50px 50px 50px 50px;
    }

    .animals{
        grid-column: 1;
    }

    .animals p{
        font-size: 10vw;
        height: 100px;
        width: 460px;
        border: solid 6px #F2F2F2;
        border-radius: 50px 50px 50px 50px;
        border-left: none;
        padding-right: 30px;
    }

    .animals i{
        width: 100px;
        height: 100px;
        font-size: 2.5rem;
        margin-right: 25px;
        border-radius: 50px 50px 50px 50px;
    }

    .info{
        margin-left: 50px;
        margin-right: 70px;
    }

    .info i{
        font-size: 2rem;
        border-radius: 50px 50px 50px 50px;
        border: solid 6px #F2F2F2;
        width: 80px;
        height: 60px;
    }

    .info p{
        font-size: 10vw;
    }



    .populaire{
        background-color: #F2F2F2;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 1250px;
        margin: 0;
        padding-left: 40px;
    }

    .populaire h2{
        font-size: 15vw;
        padding-left: 40px;
    }

    .populaire h2 i{
        margin-left: 165px;
    }

    .card-first{
        border-radius: 40px 40px 40px 40px;
        width: 730px;
        height: 300px;
        margin-left: 60px;
    }

    .card1{
        border-radius: 40px 40px 40px 40px;
        width: 730px;
        height: 300px;
        margin-left: 60px;
    }

    .card1-p1 img{
        width: 260px;
        height: 285px;
        border-radius: 40px 0 0 40px;
        padding-left: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .card1-text{
        font-size: 10vw;
        padding-left: 20px;
        padding-right: 30px;
    }

    .card1-text2{
        font-size: 8vw;
        padding-left: 20px;
    }

    .star1 {
        padding-left: 30px;
        padding-top: 20px;
    }

    .star1 i{
        font-size: 1.5rem;
    }

    .star2 {
        padding-left: 30px;
        padding-top: 20px;
    }

    .star2 i{
        font-size: 1.5rem;
    }





    .container2{
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergement{
        background-color: white;
        padding-left: 40px;
    }

    .hebergement h2{
        font-size: 13vw;
        margin-bottom: 0;
    }

    .cards1{
        display: flex;
        flex-direction: column;
    }

    .cards2{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .card {
        border-radius: 40px 40px 40px 40px;
        width: 730px;
        height: 390px;
        margin-top: 30px;
    }

    .card-p1 img {
        width: 720px;
        height: 210px;
        border-radius: 40px 40px 0 0;
        padding-left: 3px;
        padding-top: 3px;
        padding-right: 3px;
    }

    .card-text{
        font-size: 9vw;
        margin-top: 7px;
        margin-left: 14px;
    }

    .card-text1{
        font-size: 8vw;
        padding-top: 0;
        margin-left: 14px;
    }

    .star {
        margin-left: 14px;
        padding-top: 0;
    }

    .star i{
        font-size: 1.5rem;
    }

    .afficher {
        margin-left: 10px;
        margin-top: 50px;
        font-size: 9vw;
    }





    .activités{
        padding-top: 2100px;
        width: 940px;
        padding-left: 60px;
    }

    .activités h2{
        font-size: 13vw;
        margin-bottom: 0;
    }

    .cards-a{
        display: flex;
        flex-direction: column;
        width: 700px;
    }

    .carte-container{
        margin-left: 0;
    }

    .carte-a{
        border-radius: 40px 40px 40px 40px;
        width: 730px;
        height: 300px;
        margin-top: 50px;
    }

    .carte-a img {
        width: 730px;
        height: 210px;
        border-radius: 40px 40px 0 0;
        padding: 0;
    }

    .carte-a-text{
        font-size: 8vw;
        margin-top: 15px;
        margin-left: 14px;
    }

    .pomegues{
        border-radius: 40px 40px 40px 40px;
        width: 730px;
        height: 300px;
        margin-top: 50px;
    }

    .pomegues1 img{
        width: 730px;
        height: 210px;
        border-radius: 40px 40px 0 0;
        padding: 0;
    }

    .frioul {
        border-radius: 40px 40px 40px 40px;
        width: 730px;
        height: 300px;
    }

    .frioul1 img{
        width: 730px;
        height: 210px;
        border-radius: 40px 40px 0 0;
        padding: 0;
    }

    .notre-dame{
        border-radius: 40px 40px 40px 40px;
        width: 730px;
        height: 300px;
        margin-top: 50px;

    }

    .notre-dame1 img{
        width: 730px;
        height: 210px;
        border-radius: 40px 40px 0 0;
        padding: 0;
    }

    .parc{
        border-radius: 40px 40px 40px 40px;
        width: 730px;
        height: 300px;
    }

    .parc1 img{
        width: 730px;
        height: 210px;
        border-radius: 40px 40px 0 0;
        padding: 0;
    }


    .page-end{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;
        padding-left: 100px;
        height: 990px;
        width: 940px;
    }

    .page-end .apropos{
        font-size: 10vw;
        padding: 0;
    }

    .page-end .hbg{
        font-size: 10vw;
        padding: 0;
    }

    .page-end .assistance{
        font-size: 10vw;
        padding: 0;
    }
}


@media only screen and (min-width: 720px) and (max-width: 1200px)
{
    body{
        width: 1438px;
    }
    .menu-txt{
        float: right;
    }


    .populaire{
        width: 400px;
    }

    .card-first{
        width: 335px;
        height: 165px;
    }

    .card1{
        width: 335px;
        height: 165px;
    }

    .card1-p1 img{
        width: 170px;
        height: 160px;
    }



    .carte-a{
        width: 300px;
        height: 455px;
    }

    .carte-a img {
        width: 300px;
        height: 390px;
    }


    .pomegues{
        width: 300px;
        height: 230px;
    }

    .pomegues1 img{
        width: 300px;
        height: 180px;
    }


    .frioul {
        width: 300px;
        height: 180px;
    }

    .frioul1 img{
        width: 300px;
        height: 135px;
    }


    .notre-dame{
        width: 300px;
        height: 180px;
    }

    .notre-dame1 img{
        width: 300px;
        height: 135px;
    }


    .parc{
        width: 300px;
        height: 230px;
    }

    .parc1 img{
        width: 300px;
        height: 180px;
    }

}
